<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal do Mesário</title>
</head>
<body>
    <div class="requisicoes">
        <h3>Requisições de Eleitores:</h3>
        <div id="requisicoes-conteiner"></div>
    </div>
    <div class="eleitores">
        <h3>Eleitores que já votaram:</h3>
        <div id="eleitores-conteiner"></div>
    </div>
    <script src="/static/scripts/mesario.js"></script>
</body>
</html>